@charset UTF-8;
/* ================================================ */
/*               全体設定                */
/* ================================================ */

body {
	font-family: 'GFS Didot', 'Noto Serif JP', serif;
	color: #707070;
	background-color: #f8f8f8;
}

ul{
	list-style: none;
}



/* ================================================ */
/*ヘッダー*/
/* ================================================ */

header{
	background-color: #f8f8f8;
	width: 100%;
	height: 90px;
}

.header-inner{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1{
	display: inline-block;
	font-size: 32px;
	letter-spacing: 1px;
	margin-left: 20px;
}

.h1-space{
	font-size: 32px;
	letter-spacing: 3px;
}


li{
	float: left;
	padding: 12px;
	font-size: 20px;
}

.inner-right a {
	color: #707070;
	text-decoration: none;
}

.inner-right a:hover {
	border-bottom: 1px solid;
}

.reservation{
	border: 2px solid #707070;
	background-color: #ffff;
	padding: 15px 25px;
	margin: 0 15px;
}

.reservation:hover{
	color: #ffff;
	background-color: #696868;
}

.drawer{
	display: none;
}



/* ================================================ */
/*メインビジュアル*/
/* ================================================ */

#mv{
	position: relative;
	width: 90%;
	height: 625px;
	z-index: 1;
}

#mv img{
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
	top: 0;
	left: 0;
}

/* ================================================ */
/*ステイトメント*/
/* ================================================ */

.statement{
	text-align: center;
	z-index: 1;
	margin-top: 30px;
}

.statement_mobile{
	display: none;
}

h2{
	font-size: 32px;
	margin: 100px 0 55px 0;
}

.statement p{
	font-size: 22px;
	line-height: 44px;
	margin-bottom: 45px;
}

/* ================================================ */
/*メニュー*/
/* ================================================ */

.main-section{
	margin-top: 200px;
	text-align: center;
	z-index: 1;
}

h3{
	font-size: 32px;
	text-align: center;
	padding-top: 20px;
}

.title1-line{
	width: 300px;
	height: 15px;
	margin: 5px auto;
}

.main-section p{
	font-size: 18px;
	padding: 30px;
	line-height: 40px;
}

.swiper-container{
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.swiper-wrapper{
	padding-bottom: 35px;
}

.swiper-slide p{
	font-size: 20px;
	padding: 2px 0;
}

.swiper-slide img{
	width: 85%;
	border-radius: 10px;
	position: relative;
}

.swiper-button-prev,.swiper-button-next{
	opacity: 0.8;
}


/* ================================================ */
/*併設カフェ*/
/* ================================================ */

.title-line2{
	width: 220px;
	height: 15px;
	margin: 0 auto;
}


/* ================================================ */
/*インフォメーション*/
/* ================================================ */


.info-section{
	text-align: center;
	margin-top: 200px;
	z-index: 1;

}

.map-and-info{
	display: flex;
	justify-content: center;
	margin: 70px auto; 
}

.map iframe{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}


.information{
	margin: 180px 0 0 30px;
}

.information table{
	background-color: #fff;
	display: block;
	width: 100%;
}

.information tr{
	border-bottom: solid 15px #f8f8f8;
}
.information tr:last-child{
 	border-bottom: none;
}

.information th{
	text-align: center;
	vertical-align: middle;
	padding: 10px 15px;
}

.information td{
	text-align: left;
	vertical-align: middle;
	padding: 10px 15px;
}

span{
	font-size: 14px;
}

.mrg{
	margin-left: 14px;
}

/* ================================================ */
/*フッター*/
/* ================================================ */
footer {
	text-align: center;
	font-size: 12px;
	color: #999;
	padding: 32px 0;
}









/*レスポンシブデザイン*/

/*================================================
Tablet : 画面の横幅が864pxまで
==================================================*/
@media screen and (max-width:864px){

/* ================================================ */
/*ヘッダー*/
/* ================================================ */

.inner-left{

}

li{
	float: left;
	padding: 10px;
	font-size: 16px;
}

.reservation{
	border: 2px solid #707070;
	background-color: #ffff;
	padding: 10px 20px;
	margin: 0 10px;
}


/* ================================================ */
/*インフォメーション*/
/* ================================================ */


.information{
	margin: 180px 0 0 50px;

}



/*================================================
Smartphone :  画面の横幅が730pxまで
=================================================*/
@media screen and (max-width:730px){


/* ================================================ */
/*ヘッダー*/
/* ================================================ */

header{
	height: 60px;
	padding-top: 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.inner-right{
	display: none;
}

h1{
	font-size: 18px;
}

.h1-space{
	font-size: 18px;
}


/*ハンバーガーメニュー*/

.drawer{
	display: block;
}

.drawer_checkbox {
  display: none;
}

.drawer_icon {
  display: block;
  position: fixed;
  top: 20px;
  right: 15px; 
  width: 56px;
  height: 60px;
  cursor: pointer;
  z-index: 5;
}
.drawer_icon-item, .drawer_icon-item:before, .drawer_icon-item:after {
  background-color: #707070;
  display: block;
  width: 26px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.drawer_icon-item:before {
  content: '';
  top: 16px;
}
.drawer_icon-item:after {
  content: '';
  top: -16px;
}


.drawer_overlay {
  background: #000;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}


.drawer_checkbox:checked ~ .drawer_overlay {
  opacity: 0.3;
  pointer-events: auto;
}



.drawer_menu {
  background: #f8f8f8;
  color: #707070;
  max-width: 100%;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -250px;
  z-index: 4;
}

.drawer_menu h1{
	margin-top: 50px;
}

.drawer_menu ul{
	margin: 30px 15px;
	position: relative;
}

.drawer_menu li{
	float: none;
}

.drawer_menu a {
	color: #707070;
	text-decoration: none;
}

.drawer_menu a:hover {
	border-bottom: 1px solid;
}

.reservation{
	padding: 10px 20px;
	position: absolute;
	right: 20px;
}


.drawer_checkbox:checked ~ .drawer_menu {
  right: 0;
}


.drawer_checkbox:checked ~ .drawer_icon .drawer_icon-item {
  background: transparent;
}

.drawer_checkbox:checked ~ .drawer_icon .drawer_icon-item:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}
.drawer_checkbox:checked ~ .drawer_icon .drawer_icon-item:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

.drawer_icon-item, .drawer_icon-item:after, .drawer_icon-item:before, .drawer_overlay, .drawer_menu {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}


/* ================================================ */
/*メインビジュアル*/
/* ================================================ */

#mv{
	position: relative;
	width: 90%;
	height: 260px;
	margin-top: 60px;
}

/*=============================*/
/*ステイトメント*/
/* ============================*/

h2{
	font-size: 20px;
	margin: 50px 0;
}

.statement{
	display: none;
}

.statement_mobile{
	display: block;
	text-align: center;
	margin-top: 30px;
}

.statement_mobile p{
	font-size: 12px;
	line-height: 30px;
}

/* ================================================ */
/*メニュー*/
/* ================================================ */

.main-section{
	margin-top: 100px;
}

h3{
	font-size: 20px;
}

.title1-line{
	width: 200px;
	height: 10px;
	margin: 5px auto;
}

.main-section p{
	font-size: 12px;
	padding: 10px 0 5px 0;
	line-height: 22px;
}

.swiper-custom-parent{
	width: 90%;
	z-index: 1;
}

.swiper-slide p{
	font-size: 16px;
}

.swiper-button-prev,.swiper-button-next{
	visibility: hidden;
}


/* ================================================ */
/*併設カフェ*/
/* ================================================ */

.br{
	display: inline-block;
}


#cafe p{
	line-height: 28px;
	margin-bottom: 24px;
}

/* ================================================ */
/*インフォメーション*/
/* ================================================ */

.info-section{
	margin: 100px auto 30px auto;
}

.map-and-info{
	flex-direction: column-reverse;
	justify-content: center;
	margin: 0 auto;
}

.map iframe{
	width: 60%;
}

.information{
	margin: 50px auto 30px auto;
}

.information table{
	font-size: 12px;
}


span{
	font-size: 12px;
}

.mrg{
	margin-left: 12px;
}


}

